#This file should go under /etc/systemd/system/foo.service
#

[Unit]
Description=This script updates the resolvconf with dns server with good latency
After=network-online.target

[Service]
Type=oneshot
Exec=/opt/OpenNic/OpenNic.rb
StandardOutput=journal

[Install]
WantedBy=multi-user.target
